<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <style type="text/css">
        input.ng-invalid.ng-dirty {
            border: 1px solid red;
        }
    </style>
</head>
<body ng-app="crudApp">

<h1 class="text-info bg-info">User Registration</h1>
<p class="text-primary">Please enter the user details for registration.</p>
<div ng-controller="UserCRUDController" class="container-fluid">
    <form name="userRegForm" ng-submit="addUser(user)" novalidate="">
        <div class="table-responsive">
            <table class="table-bordered table-hover">
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input type="text" id="username" name="username" ng-model="user.username" title="username" required>
                        <div>
                            <span ng-show="userRegForm.username.$dirty && userRegForm.username.$error.required">
                                Enter username
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input type="text" id="name" name="name" ng-model="user.name" title="name" required>
                        <div>
                            <span ng-show="userRegForm.name.$dirty && userRegForm.name.$error.required">
                                Enter name
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <input type="text" id="address" name="address" ng-model="user.address" title="address">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="email" id="email" name="email" ng-model="user.email" title="email" required>
                        <div>
                            <span ng-show="userRegForm.email.$dirty && userRegForm.email.$error.required">
                                Enter email
                            </span>
                            <span ng-show="userRegForm.email.$dirty && userRegForm.email.$error.email">
                                Enter valid email
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mobile:
                    </td>
                    <td>
                        <input type="text" id="mobile" name="mobile" ng-model="user.mobile" title="mobile" required>
                        <div>
                            <span ng-show="userRegForm.mobile.$dirty && userRegForm.mobile.$error.required">
                                Enter mobile number
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="reset" ng-click="reset(userRegForm)" value="Reset" class="btn btn-default">
                    </td>
                    <td>
                        <input type="submit" value="Add User" class="btn btn-primary" ng-disabled="userRegForm.$invalid">
                    </td>
                </tr>
            </table>
       </div>
    </form>
    <pre>user = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="app/controllers.js"></script>
<script type="text/javascript" src="app/services.js"></script>
</body>
</html>