<html>
    <head>
        <title>Users</title>
        <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    </head>
    <body ng-app="crudApp">
        <div ng-controller="UserCRUDController">
           <!-- <table>
                <tr>
                    <td>
                        {{message}}
                        <br/>
                        {{errorMessage}}
                    </td>
                </tr>
            </table>-->
            <table>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input type="text" id="username" ng-model="user.username" title="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input type="text" id="name" ng-model="user.name" title="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <input type="text" id="address" ng-model="user.address" title="address">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="text" id="email" ng-model="user.email" title="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Mobile:
                    </td>
                    <td>
                        <input type="text" id="mobile" ng-model="user.mobile" title="mobile">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button ng-click="addUser()">Add User</button>
                    </td>
                </tr>
            </table>
        </div>
        <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="./app/app.js"></script>
        <script type="text/javascript" src="./app/service.js"></script>
    </body>
</html>